<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @classroom.teacher %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @classroom.semester %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @classroom.subject %>
</p>

<p>
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
