<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @lecture.time %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @lecture.classroom %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
