<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<strong>Imagem</strong>
<% if @user.photo.present? %>
    <%= image_tag @user.photo.url, alt: 'Imagem do Usuário' %>
<%end%>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
