<!DOCTYPE html>
<html>
  <head>
    <title>Faculdade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!--<% if user_signed_in? %>
      <%= link_to  "Sair", destroy_user_session_path(current_user.id), method: :delete %>
    <%end%> -->

    <%= yield %>
  </body>
</html>
